/* 
************
Reset
************
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
*************
Utility / Common
*************
*/

.row {
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    border: none;
    padding: 10px 15px;

}

.primary-btn {
    background-color: #0061ff;
    color: white;
}

.secondary-btn {
    background-color: white;
    color: black;
    padding: 10px 50px;
    border: 1px solid black;

}

.visible-link {
    text-decoration: underline;
    color: #0061ff;
}

.container-big {
    width: 60vw;
}

.container-small {
    width: 50%;
    justify-content: center;
}

/* 
*************
Typo
*************
*/

body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

h1 {
    font-size: 77px;
}

h2 {
    font-size: 40px;
}

/* 
*************
Header
*************
*/


header {
    background-color: #fff;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 2px rgb(201, 201, 201);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}

header nav {
    height: 100%;
    align-items: center;
}

header ul {
    align-items: center;
    height: 100%;
}

header .list-nav li {
    display: flex;
    align-items: center;

    height: 100%;
    padding: 0 20px;
}

header .list-nav li img {
    width: 100%;
}

header .list-nav li:hover {
    border-bottom: 1px solid black;
}


/* 
*************
Main
*************
*/
.jumbotron {
    background-color: #b4d0e7;
    justify-content: center;
    margin-top: 80px;
}

main .jumbotron .container-big {
    position: relative;
    top: 70px;

}

main .container-big .main-title {
    width: 100%;
    padding: 50px 0 75px 0;

}

main .container-big .main-info {
    justify-content: space-between;
    align-items: flex-start;
}

main .container-big .main-info .small-col {
    width: 30%;
}

main .container-big .main-info .big-col {
    width: 70%;
}

main .container-big .big-col img {
    width: 100%;
}

main .container-big .main-info .small-col .btn {
    margin: 35px 0;
}

main .container-big .main-info .small-col i {
    font-size: 45px;
    margin-top: 80px;
}

/* 
*************
Section - 1
*************
*/

main .section-1,
main .section-3 {
    margin-top: 170px;
    justify-content: center;

}

main .section-1 .tbl .tbl-menu i {
    padding-right: 5px;
}

main .section-1 .sez-1-title {
    margin-bottom: 55px;
}

main .section-1 .sez-1-title h2 {
    padding-bottom: 75px;
}

main .section-1 .sez-1-title .checbox {
    padding-right: 30px;
}

main .section-1 .sez-1-table {
    margin: 0 -25px;
    flex-wrap: wrap;
}

main .section-1 .tbl h4 {
    padding: 25px 0;
}

main .section-1 .tbl .tbl-info {
    padding-top: 55px;
}

main .section-1 .tbl {
    border: 1px solid #d0d0d3;
    width: calc(100% / 3 - 50px);
    margin: 0 25px;


}

main .section-1 .tbl .tbl-menu {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #d0d0d3;
}

main .section-1 .tbl .tbl-type .btn {
    margin-top: 55px;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}

main .section-1 .tbl .tbl-type {
    padding: 40px 25px 55px 25px;
}

main .section-1 .tbl-type hr {
    width: 50px;
    margin: 55px 0 45px 0;
}


main .section-1 .tbl-type li {
    display: flex;
    margin: 15px 0;
}

main .section-1 .tbl-type li i {
    margin-right: 10px;
    padding-right: 10px;
}

main .section-1 .tbl .tbl-type .check i {
    color: #0061ff;
}

main .section-1 .tbl-4 {
    flex-grow: 1;
    margin-top: 40px;
    width: 100%;
}

main .section-1 .tbl-4 .tbl-content {
    width: 100%;
}

main .section-1 .tbl-4 .tbl-type {
    width: 70%;
}

main .section-1 .tbl-4 .tbl-content>.btn {
    width: 30%;
    padding: 40px 25px 0 25px;

}

main .section-1 .tbl-4 .primary-btn {
    width: 100%;

}



/* 
*****************
Sez - 2
*****************
*/
main .section-2 {
    margin-top: 150px;
    justify-content: center;
}

main .section-2 .container-small {
    justify-content: space-between;

}

.section-2 .img {
    width: calc(100% * 2 / 3);
    margin-right: 50px;
}

main .section-2 .container-small .text {
    width: calc(100% / 3);
}

.section-2 .container-small .img img {
    width: 100%;
    display: block;
}

main .section-2 .container-small .text {
    padding: 60px 60px 0 0;
}

main .section-2 .container-small .text h3 {
    padding-bottom: 30px;
}

main .section-2 .container-small .text .btn {
    margin-top: 30px;
}

/* 
*****************
Sez - 3
*****************
*/

main .section-3 .container-small .sez-3-table {
    flex-wrap: wrap;
    margin-left: -25px;
    margin-right: -25px;
}

.container-small .sez-3-table .tbl {
    width: calc(100% / 3 - 50px);
    margin: 15px 25px;
}

main .section-3 .container-small .tbl-img img {
    width: 100%;
    display: block;
}

.sez-3-table .tbl-info h3 {
    padding-bottom: 40px;
    padding-top: 15px;
}

/* 
*****************
Sez - 4
*****************
*/
main .section-4 {
    justify-content: center;
    margin-top: 210px;
    flex-wrap: wrap;
}
main .section-4 .container-small:first-child {
    margin-bottom: 155px;
}

main .section-4 .container-small h2 {
    width: 70%;
    padding-bottom: 75px;
}

main .section-4 .container-small .tbl-text h2 {
    color: #61082b;
}
main .section-4 .fullscreen {
    width: 100vw;
    height: calc(100vh - 80px);
}

main .section-4 .fullscreen .tbl {
    flex-wrap: wrap;
    width: inherit;
    background-color: rgb(133, 133, 133);

}

main .section-4 .fullscreen .tbl-4 {
    flex-grow: 1;
    background-color: #b4d0e7;
    width: 100%;
    justify-content: center;
    align-items: center;

}

main .section-4 .fullscreen .tbl-loghi,
main .section-4 .fullscreen .tbl-middle {
    width: calc(100% / 3);
}

main .section-4 .fullscreen .tbl-loghi {
    flex-wrap: wrap;

}

main .section-4 .fullscreen .tbl-middle {
    background-color: #f5f5f5;
    padding: 50px 50px;

}

main .section-4 .fullscreen .tbl-middle img {
    width: 50%;
}

main .section-4 .tbl-middle hr {
    width: 100px;
    margin: 55px 0 45px 0;
}

main .section-4 .fullscreen .tbl .tbl-loghi .container {
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: aqua;
}

.tbl-loghi .container img {
    width:40%;
}

main .section-4 .fullscreen .tbl .tbl-content {
    justify-content: center;
    align-items: flex-start;
    background-color: darkorchid;

}

.section-4 .fullscreen .tbl .tbl-content .tbl-text {
    width: 70%;
}

.section-4 .fullscreen .tbl .tbl-content .btn {
    width: 30%;
}

.section-4 .fullscreen .tbl .tbl-content .secondary-btn {
    border: none;
}